body {
    margin: 0px;
    padding: 0px;
}

/* section {
    display: block;
} */

.sectionContent {
    padding-top: 150px;
    /* padding: 75px; */
}

.sectionTitle {
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    margin: 50px;
}

.sectionBase {
    height: 150px;
    width: 100%;
    position: absolute;
    bottom: -149px;
    z-index: 5;
    clip-path: polygon(0% 0%,100% 0%,100% 40%,50% 100%,0% 40%);
}

h1 {
    margin: 0px;
}

/* 
   NAVBAR
*/

#navBackground {
    background-color: #5e60ce;
    height: 150px;
    width: 100%;
    position: absolute;
    bottom: -150px;
    z-index: 9;
    clip-path: polygon(0% 0%,100% 0%,100% 40%,50% 100%,0% 40%);
}

#navBackground.fixed {
    position: fixed;
    top: 0px;
    /* box-shadow: 0 10px black; */
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0px;
    padding: 0px;    
}

#aarkitekktButton {
    background-color: #72efdd;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 290px;
    position: fixed;
    z-index: 10;
    top: 10px;
    left: 10px;
    transition: all .5s;
    transform: translate(-100%);
    opacity: 0;
}

#aarkitekktButton.isVisible {
    transform: translate(0%);
    opacity: 1;
}

#hamburger {    
    cursor: pointer;
    width: 50px;
    height: 40px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 12;
}

#line1, #line2, #line3 {
    transition-duration: .5s;
    background-color: #72efdd;
    height: 3px;
    border-radius: 2px;
    position:fixed;
    right: 0px;
    z-index: 5;      
    
}

#line1{
    top: 10px;
    right: 10px;
    width: 20px;
}

#line2{
    top: 18px;
    right: 10px;
    width: 30px;
}

#line3{
    top: 26px;
    right: 10px;
    width: 25px;
}

#line1.open {
    width: 30px;
    transform-origin: 0%;
    transform: rotate(45deg);
    transition-duration: .5s;
}
#line2.open {
    width: 0px;
    transition-duration: .5s;
}
#line3.open {
    width: 30px;
    transform-origin: 0%;
    transform: rotate(-45deg) translate(-3px, 3px);
    transition-duration: .5s;
}

#navLinks {
    transition-duration: .5s;
    position: fixed;
    z-index: 11;
    background: #6930C3;
    top: -510px;
    width: 100%;
    height: 400px;
    clip-path: polygon(0% 0%,100% 0%,100% 77%,50% 100%,0% 77%);
}

#navLinks.open {
    transition-duration: .5s;
    top: 0px;
}

.navLink {
    color: #72efdd;
    font-family: 'Comfortaa', cursive;
    margin-top: 50px;
    cursor: pointer;
}

canvas {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    z-index: 10;
    mix-blend-mode: multiply;
}

canvas.fixed {
    position: fixed;
    top: 0px;
}

/* ____
 __  --  _____
    ___--       LANDING  >>>   
       landing >>
    ______
*/


#landing {
    background-color: #5e60ce;
    min-height: 100vh;
    position: relative;
}

#landingBase {
    background-color: gray;
}

/* ____
 __  --  _____
    ___--       DEV >>>   
       dev >>
    ______
*/

#dev {
    background-color: purple;
    min-height: 100vh;
    position: relative;
}
#devBase {
    background-color: purple;
}

#currentDevProject {
    display: flex;
    justify-content: center;
}

#devImage {
    width: 700px;
    height: 400px;
    margin: 20px;
}

.devProjects {
    display: flex;
    justify-content: center;
}

.devProject {
    height: 200px;
    flex-grow: 1;
    background-color: chocolate;
    margin: 5px;
    transition: all .5s ease-out;   
}

.devProject:hover {
    flex-grow: 3;
}

/* ____
 __  --  _____
    ___--       3D  >>>   
       three-d >>
    ______
*/

#threeD {
    background-color: #DCF5F9;
    min-height: 100vh;
    position: relative;
}

#threeDBase {
    background-color: #DCF5F9;
}

#threeDTitle {
    font-size: 60px;
}

#galleryContainer {
    display: flex;
    flex-wrap: wrap;
}

.img {
    opacity: .2;
    height: 25vh;
    flex-grow: 1;
    overflow: hidden;
    transition: all .5s ease-out;   
    position: relative;
    margin: 5px;
    border-radius: 5px;
}
.img:hover {
    opacity: 1;
    flex-grow: 2;
}
.img.active {
    opacity: 1;
    height: 75vh;
    width: 100%;
} 

.img3d {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.imgDes {
    font-family: 'Comfortaa', cursive;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -45px;
    padding: 15px;
    margin: 0px;
    color: white;
    background-color: black;
    opacity: .7;
    transition: all .5s ease-out; 
    transition-delay: .3s;
}

h5 {
    padding: 0px;
    margin: 0px;
}

.imgDes.activeDes {
   bottom: 0px;
}


@media (max-width: 600px) {
    .img {
        height: 75px;
        width: 100%; 
    }

    .img.active {
        height: auto;
    }

    .img3d, .imgBuilt {
        max-width: 100%;
    }

    .imgDes {
        transition-delay: 0s;
    }

    section {
        padding: 0px;
    }
}



/* 
   BUILT
*/

#built {
    background-color: #061822;
    min-height: 100vh;
    position: relative;
}

#builtBase {
    background-color: #061822;
}

#builtTitle {
    color: #80FFDB;
}

.imgBuilt {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

/* 
   LAB
*/

#lab {
    background-color: palevioletred;
    min-height: 100vh;
    position: relative;
}

/* 
   ABOUT
*/

#about {
    background-color: yellowgreen;
    min-height: 100vh;
    position: relative;
}